[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"

[packages]
boto3 = "*"
ipython = "*"
click = "*"
setuptools = "*"
bdist-wheel = "*"
install = "*"
wheel = {index = "p-lock",version = "*"}

[requires]
python_version = "3.7"
